.main-container{
    display: flex;
    margin: 0 auto;
    margin-top: 5em;
    border-radius: 7px;
    width: 90%;
    background-color: white;
    position: relative;
    min-height: 477px;
}
@media only screen and (max-width: 600px) {
    .main-container{
        display: block;
        width: 100%;
        margin-top: 0;
        border-radius: 0%;
        min-height:0px;
    }
}