<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Vaccine Slot Available</title>
    <style>
        table, td, th {
            border: 1px solid #2522228f;
            border-radius: 4px;
            text-align:center
        }
    </style>
</head>
<body>
  <p>Hi Shubham, as requested by you on vaccinenotifier.co.in, some new vaccine slots are available for your selected area and 45+ age group</p>
  <p>We got this data at 25 May 2021, 19:00. Here's a list</p>
<table>
    <thead>
        <tr>
            <th>Center</th>
            <th>Available Capacity</th>
            <th>Available Dates</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h5>BALIKA SCHOOL NO 2</h5>
                <p>Mankapur, Nagpur 440030</p>
            </td>
            <td>
                <p>20 Dose Available</p>
            </td>
            <td>
                <div style="display:flex">
                    <span>20/05/2021, </span>
                    <span> 20/06/2021</span>
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <h5>BALIKA SCHOOL NO 2</h5>
                <p>Mankapur, Nagpur 440030</p>
            </td>
            <td>
                <p>20 Dose Available</p>
            </td>
            <td>
                <div style="display:flex">
                    <span>20/05/2021, </span>
                    <span> 20/06/2021</span>
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <h5>BALIKA SCHOOL NO 2</h5>
                <p>Mankapur, Nagpur 440030</p>
            </td>
            <td>
                <p>20 Dose Available</p>
            </td>
            <td>
                <div style="display:flex">
                    <p>20/05/2021</p>
                    <p>20/06/2021</p>
                </div>
            </td>

        </tr>
    </tbody>
</table>
<p>
    Book your slots now at the official CoWIN portal: https://selfregistration.cowin.gov.in/
</p>
</body>
</html>