.filter-controls {
	width: 100%;
	background-color: #1769aa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.filter-controls .selected-district {
	display: flex;
	padding: 10px;
	position: relative;
}
.filter-controls .back-arrow {
	flex-basis: 3%;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	padding: 5px;
	margin-right: 5px;
}
.filter-controls .selection {
	flex-basis: 28%;
	border-radius: 7px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px 0px rgb(13 110 253 / 25%);
	margin-right: 10px;
	color: white;
	box-shadow: rgb(0 0 0 / 20%) 0px 3px 6px;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}
.filter-controls .age-filters {
	display: flex;
	padding: 10px;
}
.filter-controls .age-filters label {
	font-size: 20px;
	flex-basis: 7.5%;
	color: white;
	font-weight: bold;
}
.filter-controls .selected-age {
	flex-basis: 8%;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffff;
	box-shadow: rgb(0 0 0 / 20%) 2px 7px 5px 0px;
	cursor: pointer;
	text-align: center;
	margin-left: 6px;
	color: black;
}
.filter-controls .selected-age:hover {
	background-color: #1b5583;
	color: white;
}
.selected {
	background-color: #1b5583 !important;
	color: white !important;
}

/* table design */

.available-slots-table {
	margin: 3px;
}
.available-slots-table .heading {
	display: flex;
	text-align: center;
	/* justify-content: center; */
	/* box-shadow: 0px 4px 2px 1px #e6e9ed; */
	background-color: #9ba6b8;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
.available-slots-table .heading div {
	flex-basis: 35%;
}
.available-slots-table .tblBody {
	overflow-y: scroll;
	height: 25em;
}
.available-slots-table .row {
	display: flex;
	box-shadow: rgb(0 0 0 / 20%) 0px 3px 6px;
	border-radius: 5px;
	margin: 0 auto;
	width: 97%;
	margin-top: 10px;
	cursor: pointer;
}

.first-cell {
	border: 1px solid #d9d9d9;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	flex-basis: 60% !important;
	padding-top: 10px;
}
.address {
	font-size: small;
	color: grey;
}
.age-container {
	padding-top: 15px;
	display: flex;
}
.age-container_box {
	border: 1px solid #d9d9d9;
	background-color: #dcdddfa8;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.age-container p {
	margin: 0;
}
.vaccine-container {
	display: flex;
	width: 29%;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	margin: 0;
}
.vaccine-box {
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	margin: 0 auto;
	margin-left: 15px;
	background-color: #dcdddfa8;
	font-weight: bold;
	text-align: center;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
.available-date-container {
	background-color: #1769aa;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
	color: white;
	padding-top: 10px;
	flex-basis: 40%;
}
.available-date {
	width: 35%;
	border-radius: 5px;
	margin-right: 10px;
	padding: 0;
	text-align: center;
	padding: 5px;
	margin-top: 17px;
	box-shadow: rgb(0 0 0 / 20%) 0px 3px 6px;
	background-color: rgba(0, 0, 0, 0.2);
}
.book-slot {
	position: absolute;
	bottom: 0;
	padding: 5px;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	border-bottom-right-radius: 5px;
	text-align: center;
}
/*Notification Message*/
.notification-msg {
	margin-top: 10px;
	background-color: #1769aa;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.notification-msg > p {
	margin: 0;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	border-radius: 5px;
	font-weight: bold;
}
.noslots-msg-cn {
	padding: 5px;
	padding-top: 155px;
	padding-bottom: 164px;
}
.noslots-msg-cn p {
	text-align: center;
}
.slotavailability-drop-down-state-arrow {
	width: 0;
	height: 0;
	/* border-width: 9px; */
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #ffffff;
	position: absolute;
	right: 106px;
	top: -12px;
}
.slotavailability-drop-down-state {
	transition-duration: 2s;
	transition: all 3s ease-out;
	display: none;
	position: absolute;
	background-color: white !important;
	z-index: 2;
	top: 65px;
	left: 120px;
	border-radius: 5px;
	box-shadow: rgb(0 0 0 / 20%) 0px 3px 6px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}
.slotavailability-drop-down-district-arrow {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #ffffff;
	position: absolute;
	right: 106px;
	top: -12px;
}
.slotavailability-drop-down-district {
	display: none;
	position: absolute;
	background-color: white !important;
	z-index: 2;
	top: 65px;
	border-radius: 5px;
	box-shadow: rgb(0 0 0 / 20%) 0px 3px 6px;
	padding-left: 5px;
	padding-right: 5px;
	left: 31em;
	cursor: pointer;
}
.slotavailability-drop-down-options {
	overflow-y: scroll;
	height: 20em;
}
.slotavailability-drop-down-options p {
	border-bottom: 1px solid #f0f0f0;
	margin: 0;
	padding: 2px;
	padding-bottom: 4px;
}
.slotavailability-districts-options p {
	padding-bottom: 4px;
	padding-right: 90px;
}
.slotavailability-drop-down-options p:hover {
	background-color: #f0f0f0;
}
.show {
	display: block !important;
	transition: all 3 ease-out;
}
.slot-availability-page-dates {
	display: flex;
}

@media only screen and (max-width: 600px) {
	.filter-controls {
		border-radius: 0%;
	}
	.filter-controls .selection {
		padding: 10px;
		flex-basis: 45%;
	}
	.filter-controls .age-filters label {
		flex-basis: 20%;
	}
	.filter-controls .selected-age {
		flex-basis: 20%;
	}
	.available-slots-table .tblBody {
		height: 28em;
	}
	.available-date {
		width: 95%;
	}
	.notification-msg > p {
		padding-bottom: 20px;
	}
	.slotavailability-drop-down-state {
		left: 5px;
	}
	.slotavailability-drop-down-district {
		left: 155px;
	}
	.slot-availability-page-dates {
		display: block;
	}
}

@media only screen and (min-width:1024px) and  (max-width: 1440px){
	.slotavailability-drop-down-state{
		left: 60px;
	}
	.slotavailability-drop-down-district{
		left: 22em;
	}
}